<h1>Seja bem-vindo</h1>
<p>Bruna Karina</p>
<p> <%= data_br(Date.today) %> </p>

<%= render "menu"%>

<p> Você está em ambiente de <strong><%= ambiente_rails %></strong></p>

<p> variável de instância <%= @meu_nome%> </p>


